/****************************************************
#####################################################
##-------------------------------------------------##
##         SOATTERY                                ##
##-------------------------------------------------##
## Copyright = globbersthemes.com- 2012            ##
## Date      = SEPTEMBRE 2012                      ##
## Author    = globbers                            ##
## Websites  = http://www.globbersthemes.com       ##
##       VERSION JOOMLA                            ##
#####################################################
****************************************************/


 html {
 height: 100%;
 
 }
 
 body{
 margin:0;
 padding:0;
 text-align:center;
 background:#fff url(../images/bg.jpg) 0 0 repeat ;
 font-size:13px;
 color:#565d66;
 font-family: cambria, arial, tahoma, sans-serif;
 font-weight:bold;
 
}


 p {
 font-size: 100%;
 
 }
 
 h1 {
 font-size: 200%;
 
 }
 
 h2 {
 font-size: 150%;
 
 }
 
 h3 {
 font-size: 125%;
 
}
 
 h4, h5, h6 {
 font-size: 100%;
 
}
 /* liens hypertextes*/ 
 a:link, a:visited {
 text-decoration:none;
 color:#565d66;
 font-weight:bold;
 
 }
 
 a:hover {
 color:#fa7615;
 
 }
 
 ul {
 margin:0;
 padding-left:20px;
 
 }
 
 li {
 list-style-type:disc;
 background:transparent;
 margin: 4px;
 
 }
 
 img {
 border:none;
 margin:3px 5px;
 padding:0;
 
 }
 
 img .caption {
 text-align: left;
 
 }
 
 .highlight{
 background:#fa7615;
 padding: 0px 2px 0px 2px;
 color:#ffffff;
 -moz-border-radius: 6px 6px 6px 6px;
 -webkit-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
 -webkit-border-top-left-radius: 6px;
 /* pour Chrome */  -webkit-border-top-right-radius: 6px;
 /* pour Chrome */  -webkit-border-top-top-radius: 6px; 
 /* pour Chrome */  -webkit-border-top-bottom-radius: 6px; 
 /* pour Chrome */ }
 
 
 .button {
 background:#fa7615;
 border:none;
 color:#fff;
 font-weight:bold;
 padding:4px;
 -moz-border-radius: 6px 6px 6px 6px; 
 -webkit-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
 -webkit-border-top-left-radius: 6px;
 /* pour Chrome */  -webkit-border-top-right-radius: 6px; 
 /* pour Chrome */  -webkit-border-top-top-radius: 6px; 
 /* pour Chrome */  -webkit-border-top-bottom-radius: 6px; 
 /* pour Chrome */
 }
 
 
 .inputbox {
 color:#fff;
 background:#fa7615;
 border:none;
 padding:4px;
 font-weight:bold;
 -moz-border-radius: 6px 6px 6px 6px; 
 -webkit-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
 -webkit-border-top-left-radius: 6px;
 /* pour Chrome */  -webkit-border-top-right-radius: 6px;
 /* pour Chrome */  -webkit-border-top-top-radius: 6px; 
 /* pour Chrome */  -webkit-border-top-bottom-radius: 6px; 
 /* pour Chrome */ }
 
 .pagewidth{
 width:900px;
 text-align:center;
 background:transparent;
 margin-left:auto;
 margin-right:auto;
 margin-top:0px;
 margin-bottom:0px;
 position:relative;
 
 }
 
 
 fieldset {
 margin:5px;
 padding:5px;
 border:none;
 
 }
 /**********************/
 #header {
 float:left;
 width:100%;
 height:203px;
 background:url(../images/header.jpg) 0 0 repeat ;
 
}
 
 #block-top {
 float:left;
 width:600px;
 height:160px;
 
}
 
 #sitename {
 float:left;
 width:254px;
 height:103px;
 margin-top:25px;
 margin-left:15px;
 
 }
 
 #sitename a:hover {
 /* SAFARI TRES VIELLE VERSION < 2.1 */
    -khtml-opacity:0.7;
/* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -moz-opacity : 0.7;
/* IE 8 ET COMPRIS PAR IE 10*/
    -ms-filter: "alpha(opacity=70)";
/* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
/* IE 4 */
    filter : alpha(opacity=70);
/* AUTRE */
    opacity : 0.7;
}

 #social-icons {
 float:right;
 width:150px;
 height:30px;
 margin-top:20px;
 margin-left:450px;
 text-align:left;

 
}

 #rss, #facebook, #twitter {
 float:left;
 width:28px;
 height:28px;
 margin-left:12px;
 
 }
 
 #rss a:hover, #facebook a:hover, #twitter a:hover {
 /* SAFARI TRES VIELLE VERSION < 2.1 */
    -khtml-opacity:0.7;
/* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -moz-opacity : 0.7;
/* IE 8 ET COMPRIS PAR IE 10*/
    -ms-filter: "alpha(opacity=70)";
/* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
/* IE 4 */
    filter : alpha(opacity=70);
/* AUTRE */
    opacity : 0.7;
 
 }
 
 
 #topmenu {float:left;
 width:600px;
 height:50px;
 background:transparent;
 margin-top:40px;
 margin-left:65px;
 
 }
 
 /*********************/
 .navigation {
 float:left;
 width: 600px;
 height:50px;
 background:transparent;

 }
 
 .navigation ul {
 list-style: none;
 margin:0;
 padding:0;
 
 }
 
 .navigation ul ul {
 margin: 0;
 padding: 0; 
 
 }
 
 .navigation ul li {
 margin:0;
 padding: 0;
 float: left;
 list-style: none;
 background: none;
 display: block;	
 
 }
 
 .navigation ul li ul {
 width: 230px;
 position: absolute; 
 z-index: 99;
 left: -999em;
 height: auto; w\idth: 230px; 
 
 } 
 
 .navigation ul li ul ul {
 margin: 0;
 
 } 
 
 .navigation ul li li {
 padding: 0;
 margin: 0;
 width: 100%;
 
 }
 
 .navigation ul ul a {
 width: 100%;
 
 }
 
 .navigation ul li:hover ul ul,
 .navigation ul li:hover ul ul ul,
 .navigation ul li.sfhover ul ul,
 .navigation ul li.havechildsfhover ul ul,
 .navigation ul li.havechild-activesfhover ul ul,
 .navigation ul li.activesfhover ul ul,
 .navigation ul li.sfhover ul ul ul,
 .navigation ul li.havechildsfhover ul ul ul,
 .navigation ul li.havechild-activesfhover ul ul ul,
 .navigation ul li.activesfhover ul ul ul { 
 left: -999em;
 
 }
 
 .navigation ul li:hover ul,
 .navigation ul li li:hover ul,
 .navigation ul li li li:hover ul,
 .navigation ul li.sfhover ul,
 .navigation ul li.havechildsfhover ul,
 .navigation ul li.havechild-activesfhover ul,
 .navigation ul li.activesfhover ul,
 .navigation ul li li.sfhover ul,
 .navigation ul li li.havesubchildsfhover ul,
 .navigation ul li li.havesubchild-activesfhover ul,
 .navigation ul li li.activesfhover ul,
 .navigation ul li li li.sfhover ul,
 .navigation ul li li li.havesubchildsfhover ul,
 .navigation ul li li li.havesubchild-activesfhover ul,
 .navigation ul li li li.activesfhover ul {
 left: auto;	
 
 }
 
 .navigation ul li a {
 padding: 0px 13px 0 13px ;
 margin:0;display: block; 
 font-weight: bold;	
 font-size:12px;
 text-transform:uppercase;
 background:transparent;
 color:#5a6069;height:60px;

 }
 
 .navigation ul li a:hover {
 color:#343434;
 height:60px;
 background: url(../images/topmenu.png) 50% 40% no-repeat;
 
 }
 .navigation ul li {}
 
 .navigation ul li.active a {
 color:#343434;
 background: url(../images/topmenu.png) 50% 40% no-repeat;
 height:60px;
 
 } 
 .navigation ul li ul {
 background: url(../images/bg.jpg) 0 0 repeat;margin: -17px 0 0 0px !important;
 padding:12px !important;
 text-align:left !important;
 z-index:50 !important;
 
 }
 
 .navigation ul li ul li{
 text-align:left !important;
 height:40px;
 padding:0  !important;
 
 }
 
 .navigation ul li ul a {
 margin: 0;
 padding:0px 0 0 20px !important;
 background: url(../images/puce.png) 5px 5px no-repeat !important;
 font-size:12px !important;
 z-index:50 !important;
 
 }
 
 .navigation ul li ul a:hover,
 .navigation ul li ul a:active,
 .navigation ul li ul a:focus,
 .navigation ul ul li:hover,
 .navigation ul ul li.sfhover,
 .navigation ul ul li.havesubchildsfhover,
 .navigation ul ul li.havesubchild-activesfhover,
 .navigation ul ul ul li:hover,
 .navigation ul ul ul li.sfhover,
 .navigation ul ul ul li.havesubchildsfhover,
 .navigation ul ul ul li.havesubchild-activesfhover {
 background:transparent;
 color:#fa7615;
 
 }
 
 .navigation ul ul li a.active,
 .navigation ul ul li a.active:hover,
 .navigation ul ul li a.active:active,
 .navigation ul ul li a.active:focus {
 background: none !important;
 font-weight: bold;
 
 }
 
 .navigation ul li li.active {
 background: transparent;
 
 }
 
 .navigation ul li li.active span {
 background: transparent ;
 
 }
 
 .navigation ul li li.active a {
 background:transparent;
 
 }
 
 .navigation ul li ul li ul {
 margin-left:170px !important;
 text-align:center !important;
 margin-top:-42px !important;
 
 }
 
 /**********************/
 #wrapper-slide{
 float:left;
 width:100%;
 height:311px;
 background:#2e2f31 url(../images/slidetop.jpg) 0 0 repeat;

 
 }
 
 #slide{
 float:left;
 width:842px;
 height:358px;
 margin-top:-50px;
 margin-bottom:0px;
 margin-left:20px;
 background:  url(../images/slide.png) 0 0 no-repeat;
 
 }
 
 .nivoSlider {
float:left;
	position:relative;
	width: 830px;
	height: 313px;
	margin-left: 8px;
	margin-top: 32px;
	background: url(../images/loading.gif) no-repeat 50% 50%;
	
}

.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
    width:830px; /* Make sure your images are the same size */
    height:313px; /* Make sure your images are the same size */
	margin:0 !important;
	padding:0 !important;
	
}
.nivoSlider a {
    border:0;
    display:block;
	color: #fff;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}

/* Caption styles */
.nivo-caption {
	position:absolute;
	left: 30px;
	/* right:0px; */
	bottom:40px;
	background:transparent;
	color:#fa7615;
	z-index:8;
	width: 200px;
	padding: 20px;
	overflow: hidden;
	font-size:20px !important;
	font-family:cambria;
	
}
.nivo-caption p {
	padding:0 !important;
	margin:0 !important;
	
	
}
.nivo-caption a {
	display:inline !important;
	border-bottom: 1px dotted #fff;
}
.nivo-caption a:hover {
	border-bottom-style: solid;
	text-decoration: none;
}
.nivo-html-caption {
    display:none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:43%;
	z-index:9;
	cursor:pointer;
	text-indent: -10000px;
	background-image: url(../images/arrows.png);
	background-repeat: no-repeat;
	height:72px;
	width:30px;
	
}
.nivo-prevNav {
	left:10px;
	background-position: left top;
}
.nivo-nextNav {
	right:10px;
	background-position: -29px top;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
   display:none; 
	
}
.nivo-controlNav a {
   display:none; 
}
 
 #slide-bottom {
 float:left;
 width:100%;
 height:92px;
 background:#2e2f31 url(../images/slidebottom.jpg) 0 0 repeat;
 
}
 
 #tool {
 float:left;
 width:260px;
 height:50px;
 background:transparent;
 margin-top:25px;
 margin-left:20px;
 
 }
 
 #newsflash {
 float:left;
 width:600px;

 
 }
 
 #newsflash p {
 color:#fff;
 font-size:17px;
 margin-top:30px;
 background: url(../images/newsflash.png) 0 0 no-repeat;
 padding-left:35px;
 padding-top:8px;
 text-align:left;
 
 }
 
 #newsflash a {
 color:#fff;
 
}
 
 #newsflash a:hover {
 color:#fa7615;
 
}

/******Left*********/
#left {
float:left;
width:190px;
text-align:left;
padding-right:0px;
padding:0;
margin-top:10px;
margin-bottom:30px;
margin-left:10px;

}

#left h3 {
background: url(../images/topmenu.png) 50% 100% no-repeat;
text-transform:capitalize;
font-size:18px;
color:#fa7615;
padding-bottom:15px;
text-align:center;

}

#left ul {
padding-left:10px;

}

#left .moduletable_menu,
#left .moduletable {
 margin-bottom:30px;
padding-left:10px;
background:transparent;
 
}

/***************************/

#main {
float:left;
background:#fff;
width:600px;
padding:15px;
text-align:left;
margin-bottom:20px;
margin-top:0px;
margin-left:40px;

}

#main-full {
float:left;
width:860px;
text-align:left;
margin-bottom:20px;
background:transparent;
margin-top:0px;
margin-left:20px;

}

/***************************/
/*ACTIONS -print-email-edit
/***************************/
/***************************/
ul.actions  {
background:transparent;
margin:0;

}

ul.actions  li{
list-style:none;
float:right; 

}

/************************************************/
/****article-info(date, date modifiées etc...).../
/**************************************************/

.article-info {

}

dt.article-info-term {
display:none;

}

dl.article-info dd{
margin:0;
font-size:12px;
font-style:italic;

}

/************************/
/*frontpage ARTICLE
/************************/
/************************/

/**article frontpage global*****/
.items-leading {
width:100%;
font-weight:bold;
padding:0px 10px 10px 10px;

}

.items-row {
width:100%;
font-weight:bold;
padding:0px 10px 10px 10px;

}

/***titre frontpage*****/
.items-leading h2 {
font-size:18px;
margin-bottom:0px;
font-weight:bold; 
background: url(../images/newsflash.png) 0 0 no-repeat;
text-transform:capitalize;
padding-left:25px;

} 

.items-row  h2{
font-size:18px;
margin-bottom:0px;
font-weight:bold;
background: url(../images/newsflash.png) 0 0 no-repeat;
text-transform:capitalize;
padding-left:25px;

}

/*****separation des articles******/
.item-separator {
height:30px;
width:100%;
display:block;

}

.item-page {
width:100%;
font-weight:bold;
padding:0px 10px 10px 10px;

}

.item-page h2 {
font-size:20px;
margin-bottom:0px;
font-weight:bold;
text-transform:capitalize;
 background: url(../images/newsflash.png) 0 0 no-repeat;
 padding-left:25px;
 
} 

.readmore a {
float:right;
font-weight: bold;
padding:5px ;
margin-right:15px;
color:#fff;
margin-top:5px;
font-weight:bold;
background: #fa7615;
border-radius: 10px;

}

.readmore a:hover {
color:#fff;
background:#2d2f31;

}

div.cols-1 .item {
width: 100%; 

}

/* div.cols-2 .item {
width: 44%;

 }

div.cols-3 .item {
 width:28%;

 }

div.cols-4 .item {
width: 20%;

 }

div.items-row .item {
float: left; 

} 

div.item {
 padding: 0 18px;
 margin-bottom:25px;



 } */

.categories-list {

}

.categories-list li {
list-style:none;

}

.item-title {
font-size:20px;
height:33px;
margin-bottom:0px;
font-weight:bold;
background:transparent;
padding-top:5px;
text-transform:uppercase;

}

ul#archive-items li {

}

/* ++++++++++++++  items more  ++++++++++++++ */
.items-more{
padding-top:10px;

}

 .items-more h3{
font-weight:normal;
margin:0;
padding:5px 5px 5px 5px;
font-size:1.4em

}

 .items-more ol{
line-height:1.3em;
margin:0 0 0 20px;
padding:5px 0 5px 2px;

}

 .items-more ol li{
padding:2px;

}

 .items-more ol li a {
display:inline;
margin:0;
font-weight:bold;
padding:5px 5px 5px 5px;

}

 .items-more ol li a:hover,
 .items-more ol li a:active,
 .items-more ol li a:focus {
font-weight:bold;
padding:5px 5px 5px 5px;
text-decoration:none

} 

/* Pagination ---*/
 .counter {
text-align:center;

}

ul.pagination {
 float: left;
 width: 100%;
 padding:10px 0;
 text-align:center;

}

ul.pagination li {
background: none;
display: inline;
margin: 0;
padding: 6px;
margin:0 3px;
overflow: hidden;

}

ul.pagination li span {
padding: 6px; 
line-height: 20px;

}

ul.pagination a {
background:#fa7615;
color: #fff;
line-height: 20px;
padding:6px;
text-decoration: none;
border-radius: 10px;

}

ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus {
text-decoration: none;
color:#fff;
background:#2d2f31;

} 

/* ++++++++++++++  nav entre article  ++++++++++++++ */
 ul.pagenav {
 position:relative;

}

ul.pagenav li {
 list-style: none;
 padding: 8px;
 background:#fa7615;
color:#fff;
border-radius: 10px;

}

ul.pagenav li a{
color:#fff;

}

ul.pagenav li:hover, ul.pagenav li:focus {
background:#2d2f31;
color:#fff;
padding: 8px;

}

ul.pagenav li.pagenav-prev {
float: left;

}

ul.pagenav li.pagenav-next { 
float:right;

}

/****************************/
#pathway-bg  {
float:left;
width:100%;
height:55px;
background:#191919;

}

#pathway  {
float:left;
width:100%;
height:40px;
color:#fff;
margin-top:18px;
text-align:left;
margin-left:10px;
background: url(../images/pathway.png) 0 0 no-repeat;
 padding-left:35px;

}

#pathway  a {
color:#fa7615;
 

}

#pathway  a:hover {
color:#fff;

}

/**********************/
#footer {
float:left;
width:100%;
background: url(../images/footer.jpg) 0 0 repeat;
border-top:1px solid #000;

}

.box .moduletable_menu  a,
.box .moduletable  a ,
.box .moduletable_text a{
font-weight:normal;
font-size:13px;
color:#fff;

}

.box .moduletable_menu  a:hover,
.box .moduletable a:hover,
.box .moduletable_text a:hover {
color:#fa7615;

}

.box {
float:left;
width:270px;
text-align:left;
margin-left:30px;
background:transparent;
color:#fff;

} 

.box .moduletable  h3,
.box .moduletable_menu h3 ,
.box .moduletable_text h3 {
font-size:20px;
padding: 0px 10px 10px 10px ;
margin:20px 0 0 0;
text-align:left;
font-variant: small-caps;
background: transparent;
font-weight:bold;
color:#fff;

}

#ft {
float:left;
text-align:center;
font-weight:normal;
font-size:13px;
width:100%;
height:60px;
font-size:13px !important;
background: url(../images/footer.jpg) 0 0 repeat;

}

.ftb {
float:left;
text-align:center;
font-weight:normal;
font-size:13px;
width:780px;
font-size:13px !important;
background: transparent;
color:#fff;
margin-top:25px;

}

.ftb a{
padding:0 !important;
border:none !important;
font-weight:bold;
font-size:13px !important;
color:#fff;

} 

.ftb a:hover{
padding:0 !important;
border:none !important;
color:#fff;

} 

#top {
float:left;
width:30px;
height:30px;
margin-top:15px;
padding:0 !important;
border:none !important;
background:transparent;

}

.top_button {
padding:0 !important;
border:none !important;

}
 